extends ../layouts/default

block content
	| 
	//- | #{JSON.stringify(blog)}
	.container
		h1 添加博客
		hr
		div.row
			.col-xs-12
				form(method='POST',action='/myblog_new')
					.form-group
						input.form-control(placeholder='收藏标题',name='title')
						//- input.form-control(placeholder='博客内容',name='extended')
					.form-group
						input.form-control(placeholder='摘要',name='brief')
					.form-group
						textarea.form-control(rows='15', placeholder='博客内容',name='extended')
					.form-group.collections-actions.text-center
						button.submit(type='submit') 创建博客
