extends ../layouts/default

block content
	.container
		| 我的博客
		| #{JSON.stringify(blog)}
		hr
		div
			a.btn.btn-default(href='/myblog/add') 新增
			hr
			if blog && blog.length
				ul
					each b,i in blog
						li
							a(href='/myblog_detail/'+b._id)=b.title
							a.pull-right(href='/myblog/remove/'+b._id) 删除
							a.pull-right(href='/myblog/modify/'+b._id) 修改
							hr
